infodynamics.jar

eeg_source.mat
eeg_source_single.mat
eeg_source_single_rotated.mat

backup/

Depression_Study/depression_data/
Depression_Study/examples/
Depression_Study/export_fif/
Depression_Study/export_mat/
Depression_Study/export_test_fif/
Depression_Study/export_test_mat/

EntRate/*
!EntRate/StateSpaceEntropyRate.m
!EntRate/StateSpaceEntropyRatePerSource.m

fieldtrip-20250423/

infodynamics-dist-1.6.1/

lz76/*
!lz76/lz76.pyx
!lz76/setup.py

output/
